Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup 
Terraform/.terraform.lock.hcl
Terraform/.terraform/*

Frontend/node_modules
Backend/Routes/auth/node_modules
Backend/Routes/owner/node_modules
Backend/Routes/user/node_modules
Backend/Routes/guest/node_modules